<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Dentistas</title>
  </head>
  <body>
    <main>
      <slot />
    </main>

    <!-- Flowbite requires its JS for interactive components, import as module -->
    <script type="module">
      import 'flowbite';
    </script>
  </body>
</html>

<style is:global>
  @import "tailwindcss";


  /* Optional: include Flowbite's CSS if you want the pre-built styles. This is
     not strictly required when using the Flowbite plugin, but helpful for
     quicker styling out of the box. */
  @import "flowbite/dist/flowbite.css";

  /* Smooth scroll for anchors */
  html { scroll-behavior: smooth; }

</style>
